{{- with mergeOverwrite (dict) (index .Values.services "php-base") (index .Values.services "queue-worker") -}}
{{- if .enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Values.resourcePrefix }}queue-worker
  labels:
    {{- include "chart.labels" $ | nindent 4 }}
    app.kubernetes.io/component: queue-worker
    app.service: {{ $.Values.resourcePrefix }}queue-worker
  annotations:
    argocd.argoproj.io/sync-wave: "15"
spec:
  replicas: {{ index $.Values.replicas "queue-worker" }}
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.service: {{ $.Values.resourcePrefix }}queue-worker
  template:
    metadata:
      labels:
        {{- include "chart.selectors" $ | nindent 8 }}
        app.kubernetes.io/component: queue-worker
        app.service: {{ $.Values.resourcePrefix }}queue-worker
    spec:
      containers:
      - name: queue-worker
        env:
        {{- range $key, $value := (mergeOverwrite (dict) .environment .environment_dynamic) }}
        {{- $tp := typeOf $value }}
        - name: {{ $key | quote }}
        {{- if eq $tp "string" }}
          value: {{ tpl $value $ | quote }}
        {{- else}}
          value: {{ $value | quote }}
        {{- end }}
        {{- end }}
        {{- if .environment_secrets }}
        envFrom:
          - secretRef:
              name: {{ $.Values.resourcePrefix }}queue-worker
        {{- end }}
        image: {{ .image }}
        imagePullPolicy: Always
        command: [ "/entrypoint.sh" ]
        args: [ "bin/gogo", "queue", "worker", "-d" ]
        resources:
          limits:
            memory: {{ .resources.memory }}
          requests:
            memory: {{ .resources.memory }}
        volumeMounts:
        {{- if not (and (eq "" (include "application.volumeMounts.backend" $)) (eq "" (include "application.volumeMounts.all" $)) ) }}
        {{- include "application.volumeMounts.backend" $ | indent 8 }}
        {{- include "application.volumeMounts.all" $ | indent 8 }}
        {{- else }} []
        {{- end }}
{{- if $.Values.docker.image_pull_config }}
      imagePullSecrets:
      - name: {{ $.Values.resourcePrefix }}image-pull-config
{{- end }}
      restartPolicy: Always
      enableServiceLinks: false
      volumes:
      {{- if not (and (eq "" (include "application.volumes.backend" $)) (eq "" (include "application.volumes.all" $)) ) }}
      {{- include "application.volumes.backend" $ | indent 6 }}
      {{- include "application.volumes.all" $ | indent 6 }}
      {{- else }} []
      {{- end }}
status: {}
{{- end }}
{{- end }}
